---
import Header from "../components/ui/Header.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/home-page/Hero.astro";
import Cards from "../sections/home-page/Cards.astro";
import Ayuda from "../sections/home-page/Ayuda.astro";
import Whastapp from "../components/icons/Whastapp.icon.astro";
import Galeria from "../sections/home-page/Galeria.astro";
import Footer from "../components/ui/Footer.astro";
import GatosSection from "../sections/home-page/GatosSection.astro";
import PerrosSection from "../sections/home-page/PerrosSection.astro";
---

<Layout title="Servi Campo">
  <Header />
  <main class="wrapper">
    <Hero />
    <Cards />
    <Ayuda />
    <GatosSection />
    <PerrosSection />
    <!-- <Galeria /> -->
  </main>
  <Whastapp width="55" height="55" />
  <Footer />
</Layout>
