---
import LinkButton from "../../components/ui/LinkButton.astro";
import styles from "./ui/styles.module.css";
---

<section id="ayuda-section">
  <div class={styles.wrapper}>
    <div class={styles.layer}></div>
    <p class={styles.title}>¿Necesitas una asesoria personalizada?</p>
    <div class={styles.btn}>
      <LinkButton url="#" title="¡Envíanos un mensaje!" />
    </div>
  </div>
</section>

<style>
  section {
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin-bottom: 100px;
  }
</style>
