---
import LinkButton from "../../components/ui/LinkButton.astro";
import Section from "../../components/ui/Section.astro";
import styles from "./ui/styles.module.css";
---

<Section id="ayuda-section">
  <div class={styles.wrapper}>
    <div class={styles.layer}></div>
    <p class={styles.title}>¿Necesitas una asesoria personalizada?</p>
    <div class={styles.btn}>
      <LinkButton url="#" title="¡Envíanos un mensaje!" />
    </div>
  </div>
</Section>

<style></style>
