---
import { Image } from "astro:assets";
import { COLORS } from "../../utils";
import cow from "../../assets/generate-a-cow-.png";
import pig2 from "../../assets/pig2.png";
import chicken from "../../assets/chicke.png";
import LinkButton from "../../components/ui/LinkButton.astro";
const { black } = COLORS;
---

<section id="" class="cards-section">
  <div class="wrapper">
    <div class="box max-performance">
      <h2 class="box-title">Bovinos</h2>
      <Image src={cow} alt="shape-1" class="cow-img" loading="eager" />
      <p class="box-descrip">
        Mayor productividad, rendimiento y bienestar para ganado.
      </p>
      <LinkButton url="#" title="Mas información" />
    </div>

    <div class="box quality-prods">
      <h2 class="box-title">Porcinos</h2>
      <Image src={pig2} alt="shape-1" class="cow-img" loading="eager" />
      <p class="box-descrip">
        Formulados específicamente para las necesidades fisiológicas porcinas,
        con opciones de administración oral, inyectable y tópica para facilitar
        su uso en granjas.
      </p>
      <LinkButton url="#" title="Mas información" />
    </div>

    <div class="box low-prices">
      <h2 class="box-title">Avícola</h2>
      <Image src={chicken} alt="shape-1" class="cow-img" loading="eager" />
      <p class="box-descrip">
        Disponibles en diversas presentaciones como soluciones orales,
        inyectables y aditivos para el agua o el alimento, adaptados a las
        necesidades específicas de las aves y los sistemas de producción avícola
        modernos.
      </p>
      <LinkButton url="#" title="Mas información" />
    </div>
  </div>
</section>

<style define:vars={{ black }}>
  .cards-section {
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding: 0 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
  }

  .box-title {
    font-size: 3rem;
    color: var(--black);
  }

  .cow-img {
    width: 100%;
    height: 380px;
  }

  .box-descrip {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
</style>
