---
import { Image } from "astro:assets";
import { COLORS } from "../../utils";
import cow from "../../assets/generate-a-cow-.png";
import pig2 from "../../assets/pig2.png";
import chicken from "../../assets/chicke.png";
import Section from "../../components/ui/Section.astro";
import CardComponent from "../../components/ui/CardComponent.astro";
const { black } = COLORS;
---

<Section id="card-section">
  <div class="wrapper">
    <CardComponent
      title="Bovínos"
      image={cow}
      altImage="cow-image"
      description="Mayor productividad, mejor rendimiento y óptimo bienestar para un ganado más saludable y eficiente."
      urlButton="#"
    />

    <CardComponent
      title="Porcinos"
      image={pig2}
      altImage="pig-image"
      description="Diseñados para porcinos, con administración oral, inyectable y tópica para granjas."
      urlButton="#"
    />

    <CardComponent
      title="Avícola"
      image={chicken}
      altImage="chicken-image"
      description="Disponibles en soluciones orales, inyectables y aditivos para agua o alimento, adaptados a la avicultura moderna."
      urlButton="#"
    />
  </div>
</Section>

<script>
  import { observeElementInView } from "../../utils";
  const element = document.querySelector(".wrapper");
  if (element) {
    const cleanup = observeElementInView(
      element,
      () => {
        alert("Element is now in view!");
        // Perform any actions you need when the element comes into view
      },
      true
    );

    // Call cleanup() when you want to stop observing (e.g., in a React useEffect cleanup function)
    // cleanup();
  }
</script>

<style define:vars={{ black }}>
  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  }
</style>
