---
import LinkButton from "../../components/ui/LinkButton.astro";
import Section from "../../components/ui/Section.astro";
import Sphere from "../../components/ui/Sphere.astro";
import SliderOne from "../home-page/ui/SliderOne.astro";
---

<Section id="hero-section">
  <div class="wrapper">
    <div class="box-image">
      <SliderOne />
      <div class="sphere">
        <Sphere width="400" heigth="400" color={"#4c6d32c2"} />
      </div>
    </div>

    <div class="box-desc">
      <p class="sub-title">
        En Servicampo nos esforzamos cada día para brindarte una atención
        excepcional y los mejores productos del mercado. Nuestro compromiso es
        ofrecerte calidad, confianza y soluciones adaptadas a tus necesidades.
      </p>
      <LinkButton url="#" title="Ver productos" />
    </div>
  </div>
</Section>

<script>
  // import { observeElementInView } from "../../utils";
  // const cleanUp = observeElementInView();
  import anime from "animejs/lib/anime.es.js";
  const spheres = document.querySelectorAll(".sphere");
  const boxs = document.querySelectorAll(".box");

  const animation = anime.timeline({});
  // animation
  //   .add(
  //     {
  //       targets: spheres[0],
  //       opacity: 0.3,
  //       easing: "spring(1, 80, 10, 0)",
  //     },
  //     "-=100"
  //   )
  //   .add(
  //     {
  //       targets: spheres[1],
  //       opacity: 0.3,
  //       easing: "spring(1, 80, 10, 0)",
  //     },
  //     "-=1300"
  //   )
  //   .add(
  //     {
  //       targets: spheres[2],
  //       opacity: 0.3,
  //       easing: "spring(1, 80, 10, 0)",
  //     },
  //     "-=1400"
  //   )
  //   .add(
  //     {
  //       targets: boxs,
  //       opacity: 1,
  //       translateY: [200, 0],
  //       easing: "easeInOutQuad",
  //       duration: 800,
  //     },
  //     "-=1300"
  //   );
</script>

<style>
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }

  .box-image {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;

    .sphere {
      position: absolute;
    }
  }

  /* BOX DECRIPTION STYLES */
  .box-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    .sub-title {
      text-align: right;
      font-size: 18px;
      line-height: 30px;
    }
  }
</style>
