.wrapper {
    position: relative;
    z-index: -10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    gap: 10px;
    background-image: url("../../../assets/cow.jpg");
    background-attachment: fixed;
    background-position: 35% 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 20px;
    color: white;
    text-align: center;
    z-index: 10;
}

.layer {
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

.btn {
    z-index: 10;
}

