---
import { COLORS } from "../../utils";
import Facebook from "../icons/Facebook.icon.astro";
import logo from "../../assets/logo.png";
import { Image } from "astro:assets";
const { green, white, dark_green } = COLORS;
---

<footer id="footer" class="footer">
  <div class="wrapper">
    <div class="box logo">
      <Image src={logo} alt="logo" class="logo-asset" />
    </div>

    <div class="box map"></div>
    <div class="box other-links">
      <span>Siguenos en nuestras redes sociales:</span>
      <div class="logos">
        <Facebook width="35" height="35" />
      </div>
    </div>
    <span class="leyend">Agroservicampo - Todos los derechos resrvados</span>
  </div>
</footer>

<style define:vars={{ green, white, dark_green }}>
  .footer {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 10px;
    background-color: var(--dark_green);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .box {
    height: auto;
    /* padding: 1rem; */
  }

  .logo {
    position: absolute;
    top: -4rem;
  }

  .logo-asset {
    width: 8.5rem;
    height: 8rem;
  }

  .map {
    margin-top: 4rem;
  }

  .other-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .other-links span {
    font-size: 1.2rem;
    color: var(--white);
  }

  .logos {
    display: flex;
    justify-content: center;
  }

  .leyend {
    margin-bottom: 50px;
    color: var(--white);
    font-size: 1.1rem;
    text-align: center;
  }

  @media (width > 27rem) {
    .wrapper {
      flex-direction: row;
    }
  }
</style>
